.myservice{

    .myserviceContainer{
        display: flex;
        flex-direction: column;

        h2{
            text-align: center;
            color: rgba(255, 5, 226, 0.61);
            @media (max-width: 768px) {
                font-size: 18px;
                letter-spacing: 1px;
            }
        }
        span{
            text-align: center;
            width: 50%;
            margin: auto;
            color: whitesmoke;
            @media (max-width: 768px) {
                font-size: 14px;;
            }
        }

        

        .topItem, .bottomItem{
            box-shadow: -24px -8px 78px -45px rgba(230, 31, 207, 0.61);
            border-radius: 80px 0px 80px 0px;
            animation: pulse 10s infinite;
            padding: 50px;
            margin: 100px;
            display: flex;
            flex-direction: row; 
            align-items: center;
            color: white;
            background-image: url('../../assets/img/color-sharp.png');
            object-fit: cover;
            @media (max-width: 768px) {
               flex-direction: column;
               margin: 40px;
               padding: 10px;
            }

            .left{
  
                flex: 3;
                // width: max-content;
                img{
                    height: 200px;
                    width: 200px;
                    padding-top: 50px ;
                    padding-bottom: 50px ;
                    margin: auto ;
                    animation: bounce 5s infinite;
                    border-radius: 20%;

                    @media (max-width: 768px) {
                        height: 120px;
                        width: 120px;
                        padding-top: 20px ;
                        padding-bottom: 20px ;
                    }
                }

               
            }

            .right{
                flex: 8;
                margin-left: 40px;
                border-left: 1px solid white;

                @media (max-width: 768px) {
                    margin-left: 0px;
                    border-left: none;
                }

                h1{
                    padding: 20px;
                    font-size: 24px;
                    color: #74F2CE;
                    @media (max-width: 768px){
                        padding: 0px;
                        text-align: center;
                        margin: auto;
                        font-size: 18px;
                    }
                }

                .listContainer{
                    ul{
                        margin-left: 30px;
                        list-style:circle
                    }
                    h4{
                        letter-spacing: 1.5px;
                    }
                }
            }
        }

       
        
    }
}